@media screen and (max-width: 600px) {
    section#hero {
        border-radius: 0;

        .container {
            padding: 1em;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            // gap: 0;
        }

        .image_container {
            width: 150px;
        }

        #hero_content {
            order: 2;
        }
    }
}